body {
  padding: 0;
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(5, 5, 63);
  color: #fff;

  box-sizing: border-box;
}

#form {
  margin-top: 10em;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

#form input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: .8em .5em;
  margin-top: 1em;
  border-radius: 10px;
}

#form label {
  margin-bottom: 1em;
}

#btn {
  border: none;
  margin-top: 1em;
  border-radius: 10px;
  padding: .8em .5em;
  width: 100%;
  background-color: aqua;
  cursor: pointer;
}